<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shixun2.mapper.CommodityMapper">
<select id="getCommodityList" resultType="com.example.shixun2.bean.Commodity">
    select * from commodity;
</select>
    <delete id="del" parameterType="int">
        delete from commodity where  id=#{id}
    </delete>
    <insert id="addCommodity" parameterType="com.example.shixun2.bean.Commodity">
        insert into commodity values(null,#{commodity_name},#{commodity_price},#{commodity_img},#{commodity_status},#{commodity_num});
    </insert>
    <select id="getCommodityById" resultType="com.example.shixun2.bean.Commodity" parameterType="int">
        select * from commodity where id=#{id}
    </select>
    <update id="updCommodity" parameterType="com.example.shixun2.bean.Commodity">
        update commodity set commodity_name=#{commodity_name},commodity_price=#{commodity_price},commodity_img=#{commodity_img} ,commodity_status=#{commodity_status},commodity_num=#{commodity_num} where id=#{id};
    </update>
</mapper>